@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    background-image: linear-gradient(45deg, rgb(9, 54, 132), whitesmoke);
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
header, footer{
    text-align: center;
    background-image: linear-gradient(white, #98c1d9);
    /* background-color: rgb(230, 230, 230); */
    box-shadow: 2px black;
    text-shadow:10 px black;
    padding: 10px;
}
header a img{
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px black;
    margin: 10px;
}
/* navigation bar */
nav{
    /* background-color: blue; */
    background-image: linear-gradient( #14213d, #98c1d9 50%, #14213d);
    overflow: hidden;
}
/* navigation bar unorder lists*/
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav #logo li{
    float: left;
}
nav #navigations li{
    float: right;
}
nav ul li a, .dropdown .dropbtn {
    color: black;
    text-decoration: none;
    margin-top: 5px;
    padding: 10px 25px;
    font-size: 15px;
    display: inline-block;
    background-color: inherit;
    font-family: inherit;
    border: 0px;
}
#this_nav{
    background-color: #98c1d9;
    border-radius: 30px;
    overflow: hidden;
}
nav ul li a:hover, .dropdown:hover .dropbtn{
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 30px;
}
#logo_navigation{
    margin-top: -9px;
    margin-left: -5px;
    margin-bottom: -13px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid white;
}
#logo_footer{
    box-shadow: 1px 5px 10px  black;
    border-radius: 20px;
    border: 1px solid white;
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
hr {
    height:5px;
    border-width:0;
    background-color: mediumblue;
}

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#cards{
    background-color: rgba(245, 245, 245, 0.5);
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 0px 5px 10px black;
}

.container{
    transform-style: preserve-3d;
}

.box{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.container .box .body .imgContainer{
    border-radius: 30px;
    padding: 30px;
    padding-top: 80px;
    text-align: center;
    background: linear-gradient(-45deg, green, gold);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.container .box .body .content .procedButton{
    margin-left: 30px;
    margin-bottom: 0px;
    background-image: linear-gradient(skyblue, black, skyblue);
    padding: 7px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 120px;
}

.container .box .body .content .procedButton:hover{
    transform: scale(1.3);    
    /* color: black; */
    background-image: linear-gradient(skyblue, mediumblue, skyblue);
}

.container .box .body .content a{
    color: white;
    text-decoration: none;
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    border-radius: 30px;
    padding: 30px;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

/* forms */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, input[type=email]{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(58, 38, 246);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: seagreen;
    font-size: large;
}
  
  /* Add a background color and some padding around the form */
.the_form {
    border-radius: 15px;
    background-color: rgba(242, 242, 242, 0.7);
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 5px 15px 1px black;
}
::placeholder{
    color: gray;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  box-shadow: 0px 2px 15px black;
  background-color: rgba(0,0,0,0.7);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ea;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text .clickable{
  background-image: linear-gradient(-90deg, blue, skyblue);
  border: 1px solid black;
  margin: auto;
  width: fit-content;
  margin-top: 10px;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0px 0px 6px black;
  display: inline-block;
}
.text a{
  text-decoration: none;
  color: black;
  font-size: larger;
}

/* Number text (1/3 etc) */
.numbertext {
  color: darkred;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.output-box{
    background-color: rgb(246, 226, 226);
}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #1a75ff;
  color: #fff;
}
.wrapper{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  border: 4px solid rgb(0, 106, 235);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #1a75ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #1a75ff;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #1a75ff;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
  border-radius: 15px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.card-body{
  margin: 100px;
  background-color: rgba(226, 206, 206, 0.9);
  padding: 20px;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
}
#aboutUs{
  margin: 60px;
  background-color: rgba(189, 187, 214, 0.9);
  padding: 20px;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
}
.about_inside{
  background-color: white;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
  font-family: 'Trebuchet MS', sans-serif;
}
.about_inside h1{
  color: darkred;
}
.about_inside p{
  margin-left: 13px;
  color: maroon;
}
.about_inside li{
  margin: 10px;
  margin-left: 30px;

}
.about_inside h2{
  margin-left: 13px;
  color: maroon;
}
.about_inside h2 a{
  color: black;
  text-decoration: none;
}
footer h1 a{
  color: black;
}
